 body {
     font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
     background: rgba(65, 63, 63, 0.548);
 }
 
 span {
     color: rgb(0, 0, 0);
     font-size: 14px;
     font-style: italic;
 }
 
 form {
     background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#CCCCCC));
     background: -moz-linear-gradient(bottom, #CCCCCC, #6e9e2d 175px);
     margin: auto;
     position: relative;
     width: 550px;
     height: 450px;
     font-family: Tahoma, Geneva, sans-serif;
     font-size: 14px;
     font-style: italic;
     line-height: 24px;
     font-weight: bold;
     color: white;
     text-decoration: none;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     padding: 10px;
     border: 1px solid #999;
     border: inset 1px solid #333;
     -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
     box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
 }
 
 select {
     padding: 10px;
     border: solid 5px #c9c9c9;
     transition: border 0.3s;
     border: 1px solid #777777;
     background: #6e9e2d;
     color: white;
     font: bold 21px 'Trebuchet MS';
     padding: 4px;
     cursor: pointer;
     width: 550px;
 }
 
 input[type="text"] {
     display: block;
     margin: 0;
     width: 100%;
     font-family: sans-serif;
     font-size: 18px;
     appearance: none;
     box-shadow: none;
     border-radius: none;
 }
 
 input[type="number"] {
     display: block;
     margin: 0;
     width: 100%;
     font-family: sans-serif;
     font-size: 18px;
     appearance: none;
     box-shadow: none;
     border-radius: none;
 }
 
 input[type="number3"] {
     display: block;
     margin-top: 0.9em;
     margin-left: -17.4em;
     font-family: sans-serif;
     font-size: 18px;
     appearance: none;
     box-shadow: none;
     border-radius: none;
 }
 
 input[type="text"]:focus {
     outline: none;
 }
 
 input[type="button"] {
     padding: 10px;
     border: solid 5px #c9c9c9;
     transition: border 0.3s;
     border: 1px solid #777777;
     background: #2f302e5b;
     color: white;
     font: bold 31px 'Trebuchet MS';
     padding: 4px;
     cursor: pointer;
     margin-left: 50px;
 }
 
 table.imagetable {
     font-family: sans-serif;
     font-size: 15px;
     color: white;
     border-width: 1px;
     border-color: #999999;
     border-collapse: collapse;
 }
 
 table.imagetable th {
     background: url('cell-blue.jpg');
     border-width: 1px;
     padding: 8px;
     border-style: solid;
     border-color: #999999;
 }
 
 table.imagetable td {
     background: #b5cfd2 url('cell-grey.jpg');
     border-width: 1px;
     padding: 8px;
     border-style: solid;
     border-color: #999999;
 }
 
 #myButton {
     border: 1px solid #777777;
     background: #6e9e2d;
     color: white;
     font: bold 11px 'Trebuchet MS';
     padding: 4px;
     cursor: pointer;
 }